#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1989px 1752px #FFF , 695px 1628px #FFF , 1995px 546px #FFF , 79px 1826px #FFF , 1015px 1787px #FFF , 947px 1203px #FFF , 1877px 491px #FFF , 73px 818px #FFF , 663px 252px #FFF , 480px 1062px #FFF , 240px 839px #FFF , 1622px 288px #FFF , 169px 967px #FFF , 248px 1849px #FFF , 812px 387px #FFF , 1031px 1728px #FFF , 637px 1068px #FFF , 299px 1726px #FFF , 1766px 375px #FFF , 1462px 1343px #FFF , 835px 862px #FFF , 226px 276px #FFF , 292px 1364px #FFF , 665px 1762px #FFF , 1722px 1026px #FFF , 796px 1201px #FFF , 815px 91px #FFF , 563px 1209px #FFF , 1130px 1695px #FFF , 328px 1493px #FFF , 895px 1937px #FFF , 660px 586px #FFF , 1637px 1002px #FFF , 244px 1598px #FFF , 1481px 1800px #FFF , 421px 1578px #FFF , 470px 1732px #FFF , 803px 1824px #FFF , 1917px 255px #FFF , 1721px 1468px #FFF , 975px 1332px #FFF , 147px 1285px #FFF , 1240px 1556px #FFF , 1515px 1977px #FFF , 88px 1435px #FFF , 908px 377px #FFF , 526px 406px #FFF , 1036px 246px #FFF , 983px 1550px #FFF , 34px 276px #FFF , 1652px 1550px #FFF , 1180px 602px #FFF , 862px 940px #FFF , 1216px 1751px #FFF , 878px 814px #FFF , 1253px 609px #FFF , 66px 1737px #FFF , 293px 1165px #FFF , 852px 268px #FFF , 299px 1475px #FFF , 715px 1768px #FFF , 145px 799px #FFF , 214px 683px #FFF , 1416px 742px #FFF , 929px 762px #FFF , 1453px 1124px #FFF , 1238px 82px #FFF , 627px 734px #FFF , 1746px 1649px #FFF , 760px 1005px #FFF , 1864px 692px #FFF , 1539px 1389px #FFF , 1345px 101px #FFF , 622px 1048px #FFF , 1724px 22px #FFF , 489px 1530px #FFF , 427px 973px #FFF , 909px 852px #FFF , 488px 1502px #FFF , 1281px 1771px #FFF , 1854px 1196px #FFF , 1210px 346px #FFF , 419px 1746px #FFF , 54px 1522px #FFF , 1178px 8px #FFF , 1018px 309px #FFF , 1071px 1374px #FFF , 1669px 686px #FFF , 587px 1072px #FFF , 869px 1378px #FFF , 355px 945px #FFF , 1632px 1964px #FFF , 724px 761px #FFF , 73px 644px #FFF , 1002px 94px #FFF , 924px 1974px #FFF , 1585px 413px #FFF , 462px 1250px #FFF , 280px 683px #FFF , 1077px 1130px #FFF , 703px 37px #FFF , 886px 1023px #FFF , 1055px 582px #FFF , 1616px 466px #FFF , 1039px 1653px #FFF , 1420px 1634px #FFF , 1195px 657px #FFF , 977px 1590px #FFF , 920px 321px #FFF , 779px 603px #FFF , 1140px 696px #FFF , 1886px 1290px #FFF , 997px 177px #FFF , 486px 1383px #FFF , 789px 1669px #FFF , 1050px 898px #FFF , 1933px 1510px #FFF , 982px 1803px #FFF , 555px 1404px #FFF , 300px 1155px #FFF , 271px 1247px #FFF , 743px 1629px #FFF , 771px 1097px #FFF , 1077px 1277px #FFF , 919px 1607px #FFF , 852px 156px #FFF , 345px 1216px #FFF , 1107px 1427px #FFF , 1319px 1317px #FFF , 453px 577px #FFF , 1204px 643px #FFF , 299px 747px #FFF , 163px 785px #FFF , 1212px 1225px #FFF , 1177px 681px #FFF , 1751px 105px #FFF , 344px 542px #FFF , 801px 66px #FFF , 674px 1161px #FFF , 1493px 364px #FFF , 1445px 1461px #FFF , 650px 1096px #FFF , 64px 1352px #FFF , 965px 1555px #FFF , 1342px 1981px #FFF , 1198px 386px #FFF , 1642px 599px #FFF , 1323px 251px #FFF , 1179px 1011px #FFF , 1648px 731px #FFF , 464px 1658px #FFF , 1642px 1612px #FFF , 136px 1110px #FFF , 630px 199px #FFF , 481px 1679px #FFF , 1508px 42px #FFF , 789px 493px #FFF , 1213px 377px #FFF , 914px 1637px #FFF , 1919px 677px #FFF , 1619px 359px #FFF , 1993px 1695px #FFF , 786px 161px #FFF , 292px 119px #FFF , 608px 927px #FFF , 1419px 1846px #FFF , 729px 1820px #FFF , 488px 1144px #FFF , 1703px 1921px #FFF , 101px 583px #FFF , 58px 449px #FFF , 69px 1355px #FFF , 1392px 834px #FFF , 1072px 1200px #FFF , 1582px 1897px #FFF , 734px 1370px #FFF , 1307px 810px #FFF , 1481px 1539px #FFF , 1535px 315px #FFF , 1508px 1303px #FFF , 423px 1326px #FFF , 1339px 1351px #FFF , 369px 1188px #FFF , 90px 747px #FFF , 266px 744px #FFF , 1850px 488px #FFF , 1085px 198px #FFF , 215px 1278px #FFF , 788px 1294px #FFF , 1082px 399px #FFF , 252px 1863px #FFF , 1917px 1025px #FFF , 387px 728px #FFF , 1374px 1181px #FFF , 1650px 1786px #FFF , 73px 1044px #FFF , 619px 286px #FFF , 481px 1818px #FFF , 1964px 1153px #FFF , 173px 679px #FFF , 1402px 599px #FFF , 1348px 379px #FFF , 245px 801px #FFF , 1713px 1448px #FFF , 1672px 1290px #FFF , 1500px 1415px #FFF , 1560px 538px #FFF , 1555px 532px #FFF , 1164px 1987px #FFF , 996px 1136px #FFF , 381px 112px #FFF , 1526px 1543px #FFF , 876px 576px #FFF , 206px 73px #FFF , 381px 847px #FFF , 896px 749px #FFF , 143px 8px #FFF , 431px 400px #FFF , 583px 1965px #FFF , 58px 1329px #FFF , 927px 250px #FFF , 1554px 1116px #FFF , 569px 1752px #FFF , 775px 912px #FFF , 757px 273px #FFF , 935px 435px #FFF , 1743px 1999px #FFF , 1024px 1661px #FFF , 161px 706px #FFF , 1977px 1902px #FFF , 847px 1437px #FFF , 1225px 736px #FFF , 175px 777px #FFF , 141px 1466px #FFF , 815px 653px #FFF , 570px 699px #FFF , 1069px 1824px #FFF , 732px 135px #FFF , 731px 1195px #FFF , 1369px 1903px #FFF , 220px 1792px #FFF , 1431px 1367px #FFF , 1581px 867px #FFF , 46px 976px #FFF , 1998px 1336px #FFF , 980px 1412px #FFF , 264px 1344px #FFF , 318px 723px #FFF , 529px 1419px #FFF , 159px 775px #FFF , 1128px 1971px #FFF , 681px 1112px #FFF , 1321px 1916px #FFF , 197px 1002px #FFF , 1169px 121px #FFF , 938px 1960px #FFF , 284px 20px #FFF , 1863px 428px #FFF , 1052px 1186px #FFF , 243px 1067px #FFF , 1954px 732px #FFF , 888px 982px #FFF , 820px 1977px #FFF , 1054px 1235px #FFF , 1892px 351px #FFF , 8px 605px #FFF , 1126px 1695px #FFF , 267px 56px #FFF , 1276px 660px #FFF , 1374px 1849px #FFF , 852px 1188px #FFF , 157px 1268px #FFF , 1706px 1160px #FFF , 943px 1916px #FFF , 1421px 799px #FFF , 339px 534px #FFF , 484px 1450px #FFF , 1391px 706px #FFF , 1694px 903px #FFF , 425px 1360px #FFF , 1434px 1335px #FFF , 1445px 960px #FFF , 332px 1779px #FFF , 561px 1058px #FFF , 109px 974px #FFF , 310px 72px #FFF , 1772px 330px #FFF , 1559px 1589px #FFF , 1720px 185px #FFF , 916px 1351px #FFF , 861px 203px #FFF , 1818px 391px #FFF , 1720px 1051px #FFF , 1854px 1212px #FFF , 1841px 660px #FFF , 1322px 913px #FFF , 370px 199px #FFF , 1929px 788px #FFF , 1212px 876px #FFF , 437px 148px #FFF , 1714px 1834px #FFF , 1833px 200px #FFF , 996px 1778px #FFF , 563px 687px #FFF , 192px 731px #FFF , 1100px 285px #FFF , 250px 126px #FFF , 1752px 1502px #FFF , 1208px 1092px #FFF , 680px 127px #FFF , 38px 1926px #FFF , 1963px 1044px #FFF , 1794px 393px #FFF , 370px 810px #FFF , 905px 327px #FFF , 236px 1534px #FFF , 1679px 1484px #FFF , 1692px 1230px #FFF , 1699px 1766px #FFF , 1017px 105px #FFF , 1652px 898px #FFF , 1468px 1846px #FFF , 1607px 440px #FFF , 423px 846px #FFF , 1662px 1627px #FFF , 283px 1751px #FFF , 1648px 977px #FFF , 156px 150px #FFF , 847px 379px #FFF , 1909px 844px #FFF , 19px 201px #FFF , 1733px 1859px #FFF , 801px 1011px #FFF , 283px 500px #FFF , 1376px 550px #FFF , 155px 1288px #FFF , 963px 368px #FFF , 1468px 1138px #FFF , 1032px 1075px #FFF , 476px 959px #FFF , 1254px 1180px #FFF , 1231px 299px #FFF , 1364px 945px #FFF , 1805px 580px #FFF , 503px 792px #FFF , 747px 1165px #FFF , 1496px 1816px #FFF , 365px 1848px #FFF , 1153px 1145px #FFF , 1024px 1195px #FFF , 1866px 1989px #FFF , 233px 506px #FFF , 1874px 1737px #FFF , 455px 89px #FFF , 383px 58px #FFF , 246px 905px #FFF , 612px 919px #FFF , 939px 1645px #FFF , 840px 463px #FFF , 1122px 1504px #FFF , 1479px 724px #FFF , 675px 1968px #FFF , 900px 1575px #FFF , 213px 1931px #FFF , 564px 301px #FFF , 778px 1110px #FFF , 522px 1281px #FFF , 903px 1674px #FFF , 1475px 774px #FFF , 1623px 1855px #FFF , 1483px 1132px #FFF , 776px 1110px #FFF , 1964px 1100px #FFF , 1135px 1765px #FFF , 409px 1412px #FFF , 1338px 104px #FFF , 1378px 1063px #FFF , 1352px 1444px #FFF , 623px 1954px #FFF , 1962px 1260px #FFF , 1677px 734px #FFF , 1728px 171px #FFF , 1077px 249px #FFF , 265px 1898px #FFF , 549px 989px #FFF , 1012px 188px #FFF , 787px 1489px #FFF , 841px 1833px #FFF , 1462px 1522px #FFF , 235px 922px #FFF , 845px 925px #FFF , 294px 1706px #FFF , 1877px 276px #FFF , 128px 186px #FFF , 1555px 1693px #FFF , 365px 354px #FFF , 1101px 844px #FFF , 616px 375px #FFF , 980px 294px #FFF , 788px 526px #FFF , 163px 279px #FFF , 21px 1007px #FFF , 540px 1779px #FFF , 839px 1273px #FFF , 844px 119px #FFF , 1045px 1478px #FFF , 1728px 678px #FFF , 1508px 1655px #FFF , 1277px 1290px #FFF , 496px 1778px #FFF , 1903px 342px #FFF , 1063px 1432px #FFF , 1860px 981px #FFF , 949px 958px #FFF , 957px 164px #FFF , 707px 1154px #FFF , 1764px 820px #FFF , 859px 1928px #FFF , 62px 525px #FFF , 809px 1075px #FFF , 424px 1524px #FFF , 1206px 1671px #FFF , 917px 8px #FFF , 1829px 882px #FFF , 1487px 388px #FFF , 1580px 1750px #FFF , 149px 442px #FFF , 632px 258px #FFF , 388px 1097px #FFF , 1628px 1296px #FFF , 291px 1350px #FFF , 1927px 149px #FFF , 550px 349px #FFF , 765px 1271px #FFF , 133px 1281px #FFF , 619px 51px #FFF , 72px 1897px #FFF , 1269px 852px #FFF , 1215px 1072px #FFF , 46px 1802px #FFF , 457px 147px #FFF , 1945px 1164px #FFF , 185px 674px #FFF , 1442px 1498px #FFF , 1955px 1365px #FFF , 259px 186px #FFF , 1970px 1931px #FFF , 1566px 360px #FFF , 484px 841px #FFF , 875px 618px #FFF , 780px 821px #FFF , 524px 1413px #FFF , 1940px 1930px #FFF , 206px 630px #FFF , 1696px 65px #FFF , 310px 1940px #FFF , 1137px 331px #FFF , 1056px 507px #FFF , 1075px 227px #FFF , 131px 961px #FFF , 242px 474px #FFF , 1394px 285px #FFF , 283px 239px #FFF , 816px 1724px #FFF , 156px 170px #FFF , 792px 163px #FFF , 1823px 1383px #FFF , 131px 1965px #FFF , 722px 309px #FFF , 652px 213px #FFF , 40px 1516px #FFF , 1894px 137px #FFF , 679px 811px #FFF , 1233px 1106px #FFF , 1840px 1259px #FFF , 982px 1414px #FFF , 349px 853px #FFF , 1996px 1080px #FFF , 124px 1280px #FFF , 1367px 916px #FFF , 71px 1736px #FFF , 610px 619px #FFF , 709px 412px #FFF , 892px 1208px #FFF , 1197px 839px #FFF , 409px 357px #FFF , 968px 383px #FFF , 1089px 645px #FFF , 1385px 859px #FFF , 1472px 1752px #FFF , 1014px 126px #FFF , 1104px 1140px #FFF , 1897px 946px #FFF , 724px 591px #FFF , 496px 1748px #FFF , 1139px 936px #FFF , 1362px 581px #FFF , 365px 1348px #FFF , 135px 1150px #FFF , 1615px 1874px #FFF , 650px 154px #FFF , 652px 1469px #FFF , 1616px 341px #FFF , 1774px 1424px #FFF , 1897px 1141px #FFF , 837px 325px #FFF , 1500px 1090px #FFF , 966px 865px #FFF , 1494px 1328px #FFF , 1923px 1571px #FFF , 1529px 1146px #FFF , 1785px 657px #FFF , 873px 1611px #FFF , 1186px 1739px #FFF , 1896px 162px #FFF , 878px 1733px #FFF , 1791px 1524px #FFF , 1638px 1615px #FFF , 1430px 1635px #FFF , 1466px 229px #FFF , 828px 1923px #FFF , 1345px 1614px #FFF , 279px 682px #FFF , 1439px 1139px #FFF , 1720px 751px #FFF , 763px 349px #FFF , 805px 1297px #FFF , 1805px 1535px #FFF , 728px 676px #FFF , 26px 1037px #FFF , 1913px 1538px #FFF , 326px 1147px #FFF , 1477px 1450px #FFF , 716px 379px #FFF , 467px 177px #FFF , 596px 1501px #FFF , 295px 496px #FFF , 1901px 1560px #FFF , 1490px 141px #FFF , 1126px 1429px #FFF , 1340px 1822px #FFF , 174px 1703px #FFF , 1961px 351px #FFF , 922px 1655px #FFF , 1522px 1098px #FFF , 1966px 807px #FFF , 794px 1788px #FFF , 153px 1306px #FFF , 20px 178px #FFF , 1313px 1098px #FFF , 812px 665px #FFF , 383px 334px #FFF , 570px 561px #FFF , 678px 195px #FFF , 203px 1701px #FFF , 1628px 103px #FFF , 116px 1047px #FFF , 359px 204px #FFF , 1377px 638px #FFF , 1017px 885px #FFF , 1722px 148px #FFF , 301px 895px #FFF , 1078px 86px #FFF , 968px 1367px #FFF , 642px 366px #FFF , 924px 1475px #FFF , 1676px 782px #FFF , 455px 534px #FFF , 683px 1558px #FFF , 80px 948px #FFF , 756px 1173px #FFF , 1674px 767px #FFF , 1434px 1536px #FFF , 264px 1085px #FFF , 1157px 1911px #FFF , 1263px 1843px #FFF , 1806px 412px #FFF , 1758px 1868px #FFF , 1307px 85px #FFF , 977px 1731px #FFF , 683px 151px #FFF , 661px 896px #FFF , 1403px 1719px #FFF , 1092px 1213px #FFF , 831px 1072px #FFF , 353px 1149px #FFF , 1891px 1202px #FFF , 1944px 1799px #FFF , 1641px 1053px #FFF , 1672px 1518px #FFF , 1254px 408px #FFF , 18px 989px #FFF , 1614px 1752px #FFF , 1900px 1672px #FFF , 1818px 1884px #FFF , 1148px 1831px #FFF , 429px 225px #FFF , 1688px 463px #FFF , 1478px 713px #FFF , 1945px 1637px #FFF , 1092px 213px #FFF , 1227px 1095px #FFF , 198px 519px #FFF , 850px 1100px #FFF , 357px 809px #FFF , 523px 124px #FFF , 517px 1988px #FFF , 484px 952px #FFF , 397px 1621px #FFF , 1771px 388px #FFF , 1782px 889px #FFF , 320px 70px #FFF , 201px 915px #FFF , 685px 1751px #FFF , 693px 244px #FFF , 631px 1953px #FFF , 961px 432px #FFF , 1895px 39px #FFF , 363px 85px #FFF , 982px 1686px #FFF , 1632px 1249px #FFF , 1501px 1456px #FFF , 1916px 1922px #FFF , 1517px 173px #FFF , 912px 757px #FFF , 1192px 1659px #FFF , 165px 605px #FFF , 1125px 1676px #FFF , 790px 443px #FFF , 277px 347px #FFF , 1313px 17px #FFF , 1483px 610px #FFF , 1227px 1690px #FFF , 662px 1835px #FFF , 1664px 170px #FFF , 1426px 300px #FFF , 1339px 220px #FFF , 1059px 1157px #FFF , 1649px 1166px #FFF , 535px 404px #FFF , 554px 1471px #FFF , 894px 1267px #FFF , 1689px 757px #FFF , 718px 1299px #FFF , 772px 1756px #FFF , 1464px 817px #FFF , 924px 1939px #FFF , 51px 658px #FFF , 1253px 1402px #FFF , 414px 1852px #FFF , 146px 280px #FFF , 9px 893px #FFF , 525px 1780px #FFF , 578px 552px #FFF , 1225px 1846px #FFF , 676px 639px #FFF , 1439px 1245px #FFF , 1162px 17px #FFF , 66px 1234px #FFF , 1883px 682px #FFF , 549px 1248px #FFF , 1691px 1490px #FFF , 1257px 1335px #FFF , 433px 2px #FFF , 1747px 395px #FFF , 1123px 1434px #FFF , 1030px 985px #FFF , 932px 1143px #FFF , 76px 494px #FFF , 1623px 209px #FFF , 413px 1668px #FFF , 3px 372px #FFF , 1729px 631px #FFF , 1669px 379px #FFF , 911px 988px #FFF , 114px 1425px #FFF , 252px 1845px #FFF , 657px 615px #FFF , 1009px 1704px #FFF , 860px 1714px #FFF , 945px 271px #FFF , 1998px 1133px #FFF , 818px 1616px #FFF , 774px 712px #FFF , 1385px 1772px #FFF , 1472px 283px #FFF , 1567px 1272px #FFF , 583px 406px #FFF , 469px 275px #FFF , 1211px 1515px #FFF , 339px 1257px #FFF , 1091px 486px #FFF , 1905px 1050px #FFF , 1686px 1889px #FFF , 1409px 732px #FFF , 262px 110px #FFF , 826px 1802px #FFF , 404px 96px #FFF , 42px 1647px #FFF , 1646px 181px #FFF;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1989px 1752px #FFF , 695px 1628px #FFF , 1995px 546px #FFF , 79px 1826px #FFF , 1015px 1787px #FFF , 947px 1203px #FFF , 1877px 491px #FFF , 73px 818px #FFF , 663px 252px #FFF , 480px 1062px #FFF , 240px 839px #FFF , 1622px 288px #FFF , 169px 967px #FFF , 248px 1849px #FFF , 812px 387px #FFF , 1031px 1728px #FFF , 637px 1068px #FFF , 299px 1726px #FFF , 1766px 375px #FFF , 1462px 1343px #FFF , 835px 862px #FFF , 226px 276px #FFF , 292px 1364px #FFF , 665px 1762px #FFF , 1722px 1026px #FFF , 796px 1201px #FFF , 815px 91px #FFF , 563px 1209px #FFF , 1130px 1695px #FFF , 328px 1493px #FFF , 895px 1937px #FFF , 660px 586px #FFF , 1637px 1002px #FFF , 244px 1598px #FFF , 1481px 1800px #FFF , 421px 1578px #FFF , 470px 1732px #FFF , 803px 1824px #FFF , 1917px 255px #FFF , 1721px 1468px #FFF , 975px 1332px #FFF , 147px 1285px #FFF , 1240px 1556px #FFF , 1515px 1977px #FFF , 88px 1435px #FFF , 908px 377px #FFF , 526px 406px #FFF , 1036px 246px #FFF , 983px 1550px #FFF , 34px 276px #FFF , 1652px 1550px #FFF , 1180px 602px #FFF , 862px 940px #FFF , 1216px 1751px #FFF , 878px 814px #FFF , 1253px 609px #FFF , 66px 1737px #FFF , 293px 1165px #FFF , 852px 268px #FFF , 299px 1475px #FFF , 715px 1768px #FFF , 145px 799px #FFF , 214px 683px #FFF , 1416px 742px #FFF , 929px 762px #FFF , 1453px 1124px #FFF , 1238px 82px #FFF , 627px 734px #FFF , 1746px 1649px #FFF , 760px 1005px #FFF , 1864px 692px #FFF , 1539px 1389px #FFF , 1345px 101px #FFF , 622px 1048px #FFF , 1724px 22px #FFF , 489px 1530px #FFF , 427px 973px #FFF , 909px 852px #FFF , 488px 1502px #FFF , 1281px 1771px #FFF , 1854px 1196px #FFF , 1210px 346px #FFF , 419px 1746px #FFF , 54px 1522px #FFF , 1178px 8px #FFF , 1018px 309px #FFF , 1071px 1374px #FFF , 1669px 686px #FFF , 587px 1072px #FFF , 869px 1378px #FFF , 355px 945px #FFF , 1632px 1964px #FFF , 724px 761px #FFF , 73px 644px #FFF , 1002px 94px #FFF , 924px 1974px #FFF , 1585px 413px #FFF , 462px 1250px #FFF , 280px 683px #FFF , 1077px 1130px #FFF , 703px 37px #FFF , 886px 1023px #FFF , 1055px 582px #FFF , 1616px 466px #FFF , 1039px 1653px #FFF , 1420px 1634px #FFF , 1195px 657px #FFF , 977px 1590px #FFF , 920px 321px #FFF , 779px 603px #FFF , 1140px 696px #FFF , 1886px 1290px #FFF , 997px 177px #FFF , 486px 1383px #FFF , 789px 1669px #FFF , 1050px 898px #FFF , 1933px 1510px #FFF , 982px 1803px #FFF , 555px 1404px #FFF , 300px 1155px #FFF , 271px 1247px #FFF , 743px 1629px #FFF , 771px 1097px #FFF , 1077px 1277px #FFF , 919px 1607px #FFF , 852px 156px #FFF , 345px 1216px #FFF , 1107px 1427px #FFF , 1319px 1317px #FFF , 453px 577px #FFF , 1204px 643px #FFF , 299px 747px #FFF , 163px 785px #FFF , 1212px 1225px #FFF , 1177px 681px #FFF , 1751px 105px #FFF , 344px 542px #FFF , 801px 66px #FFF , 674px 1161px #FFF , 1493px 364px #FFF , 1445px 1461px #FFF , 650px 1096px #FFF , 64px 1352px #FFF , 965px 1555px #FFF , 1342px 1981px #FFF , 1198px 386px #FFF , 1642px 599px #FFF , 1323px 251px #FFF , 1179px 1011px #FFF , 1648px 731px #FFF , 464px 1658px #FFF , 1642px 1612px #FFF , 136px 1110px #FFF , 630px 199px #FFF , 481px 1679px #FFF , 1508px 42px #FFF , 789px 493px #FFF , 1213px 377px #FFF , 914px 1637px #FFF , 1919px 677px #FFF , 1619px 359px #FFF , 1993px 1695px #FFF , 786px 161px #FFF , 292px 119px #FFF , 608px 927px #FFF , 1419px 1846px #FFF , 729px 1820px #FFF , 488px 1144px #FFF , 1703px 1921px #FFF , 101px 583px #FFF , 58px 449px #FFF , 69px 1355px #FFF , 1392px 834px #FFF , 1072px 1200px #FFF , 1582px 1897px #FFF , 734px 1370px #FFF , 1307px 810px #FFF , 1481px 1539px #FFF , 1535px 315px #FFF , 1508px 1303px #FFF , 423px 1326px #FFF , 1339px 1351px #FFF , 369px 1188px #FFF , 90px 747px #FFF , 266px 744px #FFF , 1850px 488px #FFF , 1085px 198px #FFF , 215px 1278px #FFF , 788px 1294px #FFF , 1082px 399px #FFF , 252px 1863px #FFF , 1917px 1025px #FFF , 387px 728px #FFF , 1374px 1181px #FFF , 1650px 1786px #FFF , 73px 1044px #FFF , 619px 286px #FFF , 481px 1818px #FFF , 1964px 1153px #FFF , 173px 679px #FFF , 1402px 599px #FFF , 1348px 379px #FFF , 245px 801px #FFF , 1713px 1448px #FFF , 1672px 1290px #FFF , 1500px 1415px #FFF , 1560px 538px #FFF , 1555px 532px #FFF , 1164px 1987px #FFF , 996px 1136px #FFF , 381px 112px #FFF , 1526px 1543px #FFF , 876px 576px #FFF , 206px 73px #FFF , 381px 847px #FFF , 896px 749px #FFF , 143px 8px #FFF , 431px 400px #FFF , 583px 1965px #FFF , 58px 1329px #FFF , 927px 250px #FFF , 1554px 1116px #FFF , 569px 1752px #FFF , 775px 912px #FFF , 757px 273px #FFF , 935px 435px #FFF , 1743px 1999px #FFF , 1024px 1661px #FFF , 161px 706px #FFF , 1977px 1902px #FFF , 847px 1437px #FFF , 1225px 736px #FFF , 175px 777px #FFF , 141px 1466px #FFF , 815px 653px #FFF , 570px 699px #FFF , 1069px 1824px #FFF , 732px 135px #FFF , 731px 1195px #FFF , 1369px 1903px #FFF , 220px 1792px #FFF , 1431px 1367px #FFF , 1581px 867px #FFF , 46px 976px #FFF , 1998px 1336px #FFF , 980px 1412px #FFF , 264px 1344px #FFF , 318px 723px #FFF , 529px 1419px #FFF , 159px 775px #FFF , 1128px 1971px #FFF , 681px 1112px #FFF , 1321px 1916px #FFF , 197px 1002px #FFF , 1169px 121px #FFF , 938px 1960px #FFF , 284px 20px #FFF , 1863px 428px #FFF , 1052px 1186px #FFF , 243px 1067px #FFF , 1954px 732px #FFF , 888px 982px #FFF , 820px 1977px #FFF , 1054px 1235px #FFF , 1892px 351px #FFF , 8px 605px #FFF , 1126px 1695px #FFF , 267px 56px #FFF , 1276px 660px #FFF , 1374px 1849px #FFF , 852px 1188px #FFF , 157px 1268px #FFF , 1706px 1160px #FFF , 943px 1916px #FFF , 1421px 799px #FFF , 339px 534px #FFF , 484px 1450px #FFF , 1391px 706px #FFF , 1694px 903px #FFF , 425px 1360px #FFF , 1434px 1335px #FFF , 1445px 960px #FFF , 332px 1779px #FFF , 561px 1058px #FFF , 109px 974px #FFF , 310px 72px #FFF , 1772px 330px #FFF , 1559px 1589px #FFF , 1720px 185px #FFF , 916px 1351px #FFF , 861px 203px #FFF , 1818px 391px #FFF , 1720px 1051px #FFF , 1854px 1212px #FFF , 1841px 660px #FFF , 1322px 913px #FFF , 370px 199px #FFF , 1929px 788px #FFF , 1212px 876px #FFF , 437px 148px #FFF , 1714px 1834px #FFF , 1833px 200px #FFF , 996px 1778px #FFF , 563px 687px #FFF , 192px 731px #FFF , 1100px 285px #FFF , 250px 126px #FFF , 1752px 1502px #FFF , 1208px 1092px #FFF , 680px 127px #FFF , 38px 1926px #FFF , 1963px 1044px #FFF , 1794px 393px #FFF , 370px 810px #FFF , 905px 327px #FFF , 236px 1534px #FFF , 1679px 1484px #FFF , 1692px 1230px #FFF , 1699px 1766px #FFF , 1017px 105px #FFF , 1652px 898px #FFF , 1468px 1846px #FFF , 1607px 440px #FFF , 423px 846px #FFF , 1662px 1627px #FFF , 283px 1751px #FFF , 1648px 977px #FFF , 156px 150px #FFF , 847px 379px #FFF , 1909px 844px #FFF , 19px 201px #FFF , 1733px 1859px #FFF , 801px 1011px #FFF , 283px 500px #FFF , 1376px 550px #FFF , 155px 1288px #FFF , 963px 368px #FFF , 1468px 1138px #FFF , 1032px 1075px #FFF , 476px 959px #FFF , 1254px 1180px #FFF , 1231px 299px #FFF , 1364px 945px #FFF , 1805px 580px #FFF , 503px 792px #FFF , 747px 1165px #FFF , 1496px 1816px #FFF , 365px 1848px #FFF , 1153px 1145px #FFF , 1024px 1195px #FFF , 1866px 1989px #FFF , 233px 506px #FFF , 1874px 1737px #FFF , 455px 89px #FFF , 383px 58px #FFF , 246px 905px #FFF , 612px 919px #FFF , 939px 1645px #FFF , 840px 463px #FFF , 1122px 1504px #FFF , 1479px 724px #FFF , 675px 1968px #FFF , 900px 1575px #FFF , 213px 1931px #FFF , 564px 301px #FFF , 778px 1110px #FFF , 522px 1281px #FFF , 903px 1674px #FFF , 1475px 774px #FFF , 1623px 1855px #FFF , 1483px 1132px #FFF , 776px 1110px #FFF , 1964px 1100px #FFF , 1135px 1765px #FFF , 409px 1412px #FFF , 1338px 104px #FFF , 1378px 1063px #FFF , 1352px 1444px #FFF , 623px 1954px #FFF , 1962px 1260px #FFF , 1677px 734px #FFF , 1728px 171px #FFF , 1077px 249px #FFF , 265px 1898px #FFF , 549px 989px #FFF , 1012px 188px #FFF , 787px 1489px #FFF , 841px 1833px #FFF , 1462px 1522px #FFF , 235px 922px #FFF , 845px 925px #FFF , 294px 1706px #FFF , 1877px 276px #FFF , 128px 186px #FFF , 1555px 1693px #FFF , 365px 354px #FFF , 1101px 844px #FFF , 616px 375px #FFF , 980px 294px #FFF , 788px 526px #FFF , 163px 279px #FFF , 21px 1007px #FFF , 540px 1779px #FFF , 839px 1273px #FFF , 844px 119px #FFF , 1045px 1478px #FFF , 1728px 678px #FFF , 1508px 1655px #FFF , 1277px 1290px #FFF , 496px 1778px #FFF , 1903px 342px #FFF , 1063px 1432px #FFF , 1860px 981px #FFF , 949px 958px #FFF , 957px 164px #FFF , 707px 1154px #FFF , 1764px 820px #FFF , 859px 1928px #FFF , 62px 525px #FFF , 809px 1075px #FFF , 424px 1524px #FFF , 1206px 1671px #FFF , 917px 8px #FFF , 1829px 882px #FFF , 1487px 388px #FFF , 1580px 1750px #FFF , 149px 442px #FFF , 632px 258px #FFF , 388px 1097px #FFF , 1628px 1296px #FFF , 291px 1350px #FFF , 1927px 149px #FFF , 550px 349px #FFF , 765px 1271px #FFF , 133px 1281px #FFF , 619px 51px #FFF , 72px 1897px #FFF , 1269px 852px #FFF , 1215px 1072px #FFF , 46px 1802px #FFF , 457px 147px #FFF , 1945px 1164px #FFF , 185px 674px #FFF , 1442px 1498px #FFF , 1955px 1365px #FFF , 259px 186px #FFF , 1970px 1931px #FFF , 1566px 360px #FFF , 484px 841px #FFF , 875px 618px #FFF , 780px 821px #FFF , 524px 1413px #FFF , 1940px 1930px #FFF , 206px 630px #FFF , 1696px 65px #FFF , 310px 1940px #FFF , 1137px 331px #FFF , 1056px 507px #FFF , 1075px 227px #FFF , 131px 961px #FFF , 242px 474px #FFF , 1394px 285px #FFF , 283px 239px #FFF , 816px 1724px #FFF , 156px 170px #FFF , 792px 163px #FFF , 1823px 1383px #FFF , 131px 1965px #FFF , 722px 309px #FFF , 652px 213px #FFF , 40px 1516px #FFF , 1894px 137px #FFF , 679px 811px #FFF , 1233px 1106px #FFF , 1840px 1259px #FFF , 982px 1414px #FFF , 349px 853px #FFF , 1996px 1080px #FFF , 124px 1280px #FFF , 1367px 916px #FFF , 71px 1736px #FFF , 610px 619px #FFF , 709px 412px #FFF , 892px 1208px #FFF , 1197px 839px #FFF , 409px 357px #FFF , 968px 383px #FFF , 1089px 645px #FFF , 1385px 859px #FFF , 1472px 1752px #FFF , 1014px 126px #FFF , 1104px 1140px #FFF , 1897px 946px #FFF , 724px 591px #FFF , 496px 1748px #FFF , 1139px 936px #FFF , 1362px 581px #FFF , 365px 1348px #FFF , 135px 1150px #FFF , 1615px 1874px #FFF , 650px 154px #FFF , 652px 1469px #FFF , 1616px 341px #FFF , 1774px 1424px #FFF , 1897px 1141px #FFF , 837px 325px #FFF , 1500px 1090px #FFF , 966px 865px #FFF , 1494px 1328px #FFF , 1923px 1571px #FFF , 1529px 1146px #FFF , 1785px 657px #FFF , 873px 1611px #FFF , 1186px 1739px #FFF , 1896px 162px #FFF , 878px 1733px #FFF , 1791px 1524px #FFF , 1638px 1615px #FFF , 1430px 1635px #FFF , 1466px 229px #FFF , 828px 1923px #FFF , 1345px 1614px #FFF , 279px 682px #FFF , 1439px 1139px #FFF , 1720px 751px #FFF , 763px 349px #FFF , 805px 1297px #FFF , 1805px 1535px #FFF , 728px 676px #FFF , 26px 1037px #FFF , 1913px 1538px #FFF , 326px 1147px #FFF , 1477px 1450px #FFF , 716px 379px #FFF , 467px 177px #FFF , 596px 1501px #FFF , 295px 496px #FFF , 1901px 1560px #FFF , 1490px 141px #FFF , 1126px 1429px #FFF , 1340px 1822px #FFF , 174px 1703px #FFF , 1961px 351px #FFF , 922px 1655px #FFF , 1522px 1098px #FFF , 1966px 807px #FFF , 794px 1788px #FFF , 153px 1306px #FFF , 20px 178px #FFF , 1313px 1098px #FFF , 812px 665px #FFF , 383px 334px #FFF , 570px 561px #FFF , 678px 195px #FFF , 203px 1701px #FFF , 1628px 103px #FFF , 116px 1047px #FFF , 359px 204px #FFF , 1377px 638px #FFF , 1017px 885px #FFF , 1722px 148px #FFF , 301px 895px #FFF , 1078px 86px #FFF , 968px 1367px #FFF , 642px 366px #FFF , 924px 1475px #FFF , 1676px 782px #FFF , 455px 534px #FFF , 683px 1558px #FFF , 80px 948px #FFF , 756px 1173px #FFF , 1674px 767px #FFF , 1434px 1536px #FFF , 264px 1085px #FFF , 1157px 1911px #FFF , 1263px 1843px #FFF , 1806px 412px #FFF , 1758px 1868px #FFF , 1307px 85px #FFF , 977px 1731px #FFF , 683px 151px #FFF , 661px 896px #FFF , 1403px 1719px #FFF , 1092px 1213px #FFF , 831px 1072px #FFF , 353px 1149px #FFF , 1891px 1202px #FFF , 1944px 1799px #FFF , 1641px 1053px #FFF , 1672px 1518px #FFF , 1254px 408px #FFF , 18px 989px #FFF , 1614px 1752px #FFF , 1900px 1672px #FFF , 1818px 1884px #FFF , 1148px 1831px #FFF , 429px 225px #FFF , 1688px 463px #FFF , 1478px 713px #FFF , 1945px 1637px #FFF , 1092px 213px #FFF , 1227px 1095px #FFF , 198px 519px #FFF , 850px 1100px #FFF , 357px 809px #FFF , 523px 124px #FFF , 517px 1988px #FFF , 484px 952px #FFF , 397px 1621px #FFF , 1771px 388px #FFF , 1782px 889px #FFF , 320px 70px #FFF , 201px 915px #FFF , 685px 1751px #FFF , 693px 244px #FFF , 631px 1953px #FFF , 961px 432px #FFF , 1895px 39px #FFF , 363px 85px #FFF , 982px 1686px #FFF , 1632px 1249px #FFF , 1501px 1456px #FFF , 1916px 1922px #FFF , 1517px 173px #FFF , 912px 757px #FFF , 1192px 1659px #FFF , 165px 605px #FFF , 1125px 1676px #FFF , 790px 443px #FFF , 277px 347px #FFF , 1313px 17px #FFF , 1483px 610px #FFF , 1227px 1690px #FFF , 662px 1835px #FFF , 1664px 170px #FFF , 1426px 300px #FFF , 1339px 220px #FFF , 1059px 1157px #FFF , 1649px 1166px #FFF , 535px 404px #FFF , 554px 1471px #FFF , 894px 1267px #FFF , 1689px 757px #FFF , 718px 1299px #FFF , 772px 1756px #FFF , 1464px 817px #FFF , 924px 1939px #FFF , 51px 658px #FFF , 1253px 1402px #FFF , 414px 1852px #FFF , 146px 280px #FFF , 9px 893px #FFF , 525px 1780px #FFF , 578px 552px #FFF , 1225px 1846px #FFF , 676px 639px #FFF , 1439px 1245px #FFF , 1162px 17px #FFF , 66px 1234px #FFF , 1883px 682px #FFF , 549px 1248px #FFF , 1691px 1490px #FFF , 1257px 1335px #FFF , 433px 2px #FFF , 1747px 395px #FFF , 1123px 1434px #FFF , 1030px 985px #FFF , 932px 1143px #FFF , 76px 494px #FFF , 1623px 209px #FFF , 413px 1668px #FFF , 3px 372px #FFF , 1729px 631px #FFF , 1669px 379px #FFF , 911px 988px #FFF , 114px 1425px #FFF , 252px 1845px #FFF , 657px 615px #FFF , 1009px 1704px #FFF , 860px 1714px #FFF , 945px 271px #FFF , 1998px 1133px #FFF , 818px 1616px #FFF , 774px 712px #FFF , 1385px 1772px #FFF , 1472px 283px #FFF , 1567px 1272px #FFF , 583px 406px #FFF , 469px 275px #FFF , 1211px 1515px #FFF , 339px 1257px #FFF , 1091px 486px #FFF , 1905px 1050px #FFF , 1686px 1889px #FFF , 1409px 732px #FFF , 262px 110px #FFF , 826px 1802px #FFF , 404px 96px #FFF , 42px 1647px #FFF , 1646px 181px #FFF;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1165px 816px #FFF , 631px 1872px #FFF , 1210px 1252px #FFF , 1997px 1363px #FFF , 1987px 1199px #FFF , 890px 780px #FFF , 1113px 131px #FFF , 1063px 827px #FFF , 1756px 121px #FFF , 1701px 671px #FFF , 124px 592px #FFF , 135px 706px #FFF , 1063px 984px #FFF , 1873px 120px #FFF , 850px 403px #FFF , 605px 1174px #FFF , 1500px 265px #FFF , 693px 1943px #FFF , 1943px 1073px #FFF , 1326px 1237px #FFF , 173px 608px #FFF , 1481px 627px #FFF , 1091px 67px #FFF , 827px 1805px #FFF , 1287px 701px #FFF , 1502px 657px #FFF , 1432px 1294px #FFF , 1144px 764px #FFF , 1773px 1463px #FFF , 579px 181px #FFF , 599px 1923px #FFF , 1745px 930px #FFF , 630px 176px #FFF , 1345px 452px #FFF , 814px 1246px #FFF , 1073px 795px #FFF , 1363px 362px #FFF , 1414px 184px #FFF , 1599px 164px #FFF , 1442px 300px #FFF , 1677px 375px #FFF , 992px 1278px #FFF , 1516px 1336px #FFF , 925px 835px #FFF , 788px 1616px #FFF , 70px 895px #FFF , 1517px 1544px #FFF , 664px 526px #FFF , 1403px 840px #FFF , 1319px 881px #FFF , 473px 814px #FFF , 175px 711px #FFF , 1180px 962px #FFF , 1779px 917px #FFF , 1124px 1800px #FFF , 1739px 7px #FFF , 996px 1379px #FFF , 1393px 939px #FFF , 1783px 1024px #FFF , 1830px 896px #FFF , 1495px 293px #FFF , 675px 1687px #FFF , 1648px 1387px #FFF , 558px 1311px #FFF , 165px 1331px #FFF , 1197px 759px #FFF , 1216px 814px #FFF , 1785px 1915px #FFF , 386px 409px #FFF , 588px 618px #FFF , 976px 1527px #FFF , 1559px 511px #FFF , 919px 890px #FFF , 314px 195px #FFF , 637px 1115px #FFF , 543px 1967px #FFF , 366px 540px #FFF , 1619px 461px #FFF , 564px 1458px #FFF , 1652px 1395px #FFF , 23px 176px #FFF , 1301px 1584px #FFF , 585px 1325px #FFF , 1929px 48px #FFF , 595px 290px #FFF , 542px 1810px #FFF , 1498px 1936px #FFF , 234px 1631px #FFF , 844px 429px #FFF , 753px 1720px #FFF , 338px 52px #FFF , 1169px 1767px #FFF , 500px 1449px #FFF , 1052px 885px #FFF , 944px 446px #FFF , 1287px 1269px #FFF , 239px 537px #FFF , 1456px 1055px #FFF , 235px 1376px #FFF , 725px 1111px #FFF , 93px 30px #FFF , 1489px 1968px #FFF , 668px 394px #FFF , 130px 1272px #FFF , 1719px 1110px #FFF , 44px 1667px #FFF , 497px 653px #FFF , 57px 1071px #FFF , 1376px 1571px #FFF , 1097px 1486px #FFF , 1441px 1088px #FFF , 1148px 1534px #FFF , 175px 1116px #FFF , 1815px 1237px #FFF , 1475px 1598px #FFF , 1198px 39px #FFF , 355px 1530px #FFF , 816px 658px #FFF , 1162px 382px #FFF , 355px 1895px #FFF , 233px 360px #FFF , 914px 1315px #FFF , 1199px 479px #FFF , 435px 432px #FFF , 648px 1905px #FFF , 63px 1542px #FFF , 1136px 916px #FFF , 1475px 521px #FFF , 773px 68px #FFF , 441px 81px #FFF , 1862px 1051px #FFF , 371px 619px #FFF , 1158px 1793px #FFF , 1589px 964px #FFF , 744px 145px #FFF , 307px 117px #FFF , 339px 828px #FFF , 1800px 1573px #FFF , 1766px 1878px #FFF , 2px 687px #FFF , 1379px 628px #FFF , 1108px 377px #FFF , 1476px 1127px #FFF , 1359px 539px #FFF , 846px 462px #FFF , 1204px 420px #FFF , 787px 11px #FFF , 1351px 1856px #FFF , 66px 1044px #FFF , 157px 1612px #FFF , 627px 650px #FFF , 1301px 345px #FFF , 541px 148px #FFF , 115px 288px #FFF , 703px 227px #FFF , 1115px 276px #FFF , 1305px 1041px #FFF , 1943px 777px #FFF , 19px 894px #FFF , 1973px 951px #FFF , 409px 1676px #FFF , 1085px 416px #FFF , 866px 152px #FFF , 941px 1143px #FFF , 1069px 1239px #FFF , 222px 1551px #FFF , 342px 559px #FFF , 1504px 1653px #FFF , 1528px 302px #FFF , 690px 1234px #FFF , 661px 1206px #FFF , 816px 768px #FFF , 411px 1270px #FFF , 1183px 778px #FFF , 524px 1683px #FFF , 546px 1598px #FFF , 743px 107px #FFF , 408px 1331px #FFF , 1146px 1480px #FFF , 1685px 758px #FFF , 829px 1312px #FFF , 91px 1076px #FFF , 1317px 214px #FFF , 1162px 195px #FFF , 1999px 1943px #FFF , 1658px 1108px #FFF , 1247px 260px #FFF , 1154px 1663px #FFF , 1856px 669px #FFF , 1705px 958px #FFF , 1535px 1108px #FFF , 761px 277px #FFF , 1240px 831px #FFF , 431px 802px #FFF , 1925px 1081px #FFF , 1371px 438px #FFF , 1135px 1245px #FFF , 409px 1909px #FFF , 816px 1096px #FFF , 827px 334px #FFF;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1165px 816px #FFF , 631px 1872px #FFF , 1210px 1252px #FFF , 1997px 1363px #FFF , 1987px 1199px #FFF , 890px 780px #FFF , 1113px 131px #FFF , 1063px 827px #FFF , 1756px 121px #FFF , 1701px 671px #FFF , 124px 592px #FFF , 135px 706px #FFF , 1063px 984px #FFF , 1873px 120px #FFF , 850px 403px #FFF , 605px 1174px #FFF , 1500px 265px #FFF , 693px 1943px #FFF , 1943px 1073px #FFF , 1326px 1237px #FFF , 173px 608px #FFF , 1481px 627px #FFF , 1091px 67px #FFF , 827px 1805px #FFF , 1287px 701px #FFF , 1502px 657px #FFF , 1432px 1294px #FFF , 1144px 764px #FFF , 1773px 1463px #FFF , 579px 181px #FFF , 599px 1923px #FFF , 1745px 930px #FFF , 630px 176px #FFF , 1345px 452px #FFF , 814px 1246px #FFF , 1073px 795px #FFF , 1363px 362px #FFF , 1414px 184px #FFF , 1599px 164px #FFF , 1442px 300px #FFF , 1677px 375px #FFF , 992px 1278px #FFF , 1516px 1336px #FFF , 925px 835px #FFF , 788px 1616px #FFF , 70px 895px #FFF , 1517px 1544px #FFF , 664px 526px #FFF , 1403px 840px #FFF , 1319px 881px #FFF , 473px 814px #FFF , 175px 711px #FFF , 1180px 962px #FFF , 1779px 917px #FFF , 1124px 1800px #FFF , 1739px 7px #FFF , 996px 1379px #FFF , 1393px 939px #FFF , 1783px 1024px #FFF , 1830px 896px #FFF , 1495px 293px #FFF , 675px 1687px #FFF , 1648px 1387px #FFF , 558px 1311px #FFF , 165px 1331px #FFF , 1197px 759px #FFF , 1216px 814px #FFF , 1785px 1915px #FFF , 386px 409px #FFF , 588px 618px #FFF , 976px 1527px #FFF , 1559px 511px #FFF , 919px 890px #FFF , 314px 195px #FFF , 637px 1115px #FFF , 543px 1967px #FFF , 366px 540px #FFF , 1619px 461px #FFF , 564px 1458px #FFF , 1652px 1395px #FFF , 23px 176px #FFF , 1301px 1584px #FFF , 585px 1325px #FFF , 1929px 48px #FFF , 595px 290px #FFF , 542px 1810px #FFF , 1498px 1936px #FFF , 234px 1631px #FFF , 844px 429px #FFF , 753px 1720px #FFF , 338px 52px #FFF , 1169px 1767px #FFF , 500px 1449px #FFF , 1052px 885px #FFF , 944px 446px #FFF , 1287px 1269px #FFF , 239px 537px #FFF , 1456px 1055px #FFF , 235px 1376px #FFF , 725px 1111px #FFF , 93px 30px #FFF , 1489px 1968px #FFF , 668px 394px #FFF , 130px 1272px #FFF , 1719px 1110px #FFF , 44px 1667px #FFF , 497px 653px #FFF , 57px 1071px #FFF , 1376px 1571px #FFF , 1097px 1486px #FFF , 1441px 1088px #FFF , 1148px 1534px #FFF , 175px 1116px #FFF , 1815px 1237px #FFF , 1475px 1598px #FFF , 1198px 39px #FFF , 355px 1530px #FFF , 816px 658px #FFF , 1162px 382px #FFF , 355px 1895px #FFF , 233px 360px #FFF , 914px 1315px #FFF , 1199px 479px #FFF , 435px 432px #FFF , 648px 1905px #FFF , 63px 1542px #FFF , 1136px 916px #FFF , 1475px 521px #FFF , 773px 68px #FFF , 441px 81px #FFF , 1862px 1051px #FFF , 371px 619px #FFF , 1158px 1793px #FFF , 1589px 964px #FFF , 744px 145px #FFF , 307px 117px #FFF , 339px 828px #FFF , 1800px 1573px #FFF , 1766px 1878px #FFF , 2px 687px #FFF , 1379px 628px #FFF , 1108px 377px #FFF , 1476px 1127px #FFF , 1359px 539px #FFF , 846px 462px #FFF , 1204px 420px #FFF , 787px 11px #FFF , 1351px 1856px #FFF , 66px 1044px #FFF , 157px 1612px #FFF , 627px 650px #FFF , 1301px 345px #FFF , 541px 148px #FFF , 115px 288px #FFF , 703px 227px #FFF , 1115px 276px #FFF , 1305px 1041px #FFF , 1943px 777px #FFF , 19px 894px #FFF , 1973px 951px #FFF , 409px 1676px #FFF , 1085px 416px #FFF , 866px 152px #FFF , 941px 1143px #FFF , 1069px 1239px #FFF , 222px 1551px #FFF , 342px 559px #FFF , 1504px 1653px #FFF , 1528px 302px #FFF , 690px 1234px #FFF , 661px 1206px #FFF , 816px 768px #FFF , 411px 1270px #FFF , 1183px 778px #FFF , 524px 1683px #FFF , 546px 1598px #FFF , 743px 107px #FFF , 408px 1331px #FFF , 1146px 1480px #FFF , 1685px 758px #FFF , 829px 1312px #FFF , 91px 1076px #FFF , 1317px 214px #FFF , 1162px 195px #FFF , 1999px 1943px #FFF , 1658px 1108px #FFF , 1247px 260px #FFF , 1154px 1663px #FFF , 1856px 669px #FFF , 1705px 958px #FFF , 1535px 1108px #FFF , 761px 277px #FFF , 1240px 831px #FFF , 431px 802px #FFF , 1925px 1081px #FFF , 1371px 438px #FFF , 1135px 1245px #FFF , 409px 1909px #FFF , 816px 1096px #FFF , 827px 334px #FFF;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1136px 1478px #FFF , 640px 876px #FFF , 296px 1508px #FFF , 1055px 1046px #FFF , 507px 1116px #FFF , 1125px 1728px #FFF , 998px 854px #FFF , 259px 1958px #FFF , 1385px 268px #FFF , 6px 719px #FFF , 1797px 633px #FFF , 1766px 432px #FFF , 940px 515px #FFF , 1339px 1627px #FFF , 117px 1929px #FFF , 87px 1780px #FFF , 326px 279px #FFF , 1623px 340px #FFF , 1130px 1395px #FFF , 1690px 808px #FFF , 117px 100px #FFF , 689px 504px #FFF , 161px 170px #FFF , 1628px 528px #FFF , 8px 961px #FFF , 1205px 1860px #FFF , 273px 1338px #FFF , 1763px 201px #FFF , 721px 1239px #FFF , 1471px 1822px #FFF , 926px 1636px #FFF , 1656px 1815px #FFF , 1202px 67px #FFF , 1827px 1081px #FFF , 1604px 1964px #FFF , 1444px 892px #FFF , 1323px 1724px #FFF , 1314px 956px #FFF , 568px 1496px #FFF , 1603px 439px #FFF , 444px 834px #FFF , 1272px 1210px #FFF , 486px 944px #FFF , 582px 1278px #FFF , 118px 1720px #FFF , 1357px 1970px #FFF , 362px 79px #FFF , 1464px 825px #FFF , 644px 69px #FFF , 758px 526px #FFF , 307px 152px #FFF , 1219px 644px #FFF , 1134px 908px #FFF , 1742px 1468px #FFF , 415px 1662px #FFF , 1411px 1671px #FFF , 1011px 1175px #FFF , 73px 197px #FFF , 974px 830px #FFF , 409px 1504px #FFF , 403px 1995px #FFF , 657px 49px #FFF , 1193px 675px #FFF , 1345px 1738px #FFF , 474px 1382px #FFF , 214px 1063px #FFF , 924px 162px #FFF , 403px 438px #FFF , 1918px 1042px #FFF , 867px 843px #FFF , 1251px 1257px #FFF , 1521px 777px #FFF , 153px 724px #FFF , 449px 821px #FFF , 422px 1056px #FFF , 349px 1213px #FFF , 1246px 1902px #FFF , 354px 1711px #FFF , 1646px 830px #FFF , 837px 388px #FFF , 340px 1722px #FFF , 50px 1259px #FFF , 462px 1540px #FFF , 846px 1205px #FFF , 645px 1577px #FFF , 523px 542px #FFF , 1880px 1906px #FFF , 639px 663px #FFF , 370px 1190px #FFF , 1527px 1386px #FFF , 1497px 1216px #FFF , 888px 120px #FFF , 1244px 1320px #FFF , 543px 937px #FFF , 1861px 988px #FFF , 67px 872px #FFF , 1692px 726px #FFF , 800px 996px #FFF , 1616px 940px #FFF , 98px 1271px #FFF;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1136px 1478px #FFF , 640px 876px #FFF , 296px 1508px #FFF , 1055px 1046px #FFF , 507px 1116px #FFF , 1125px 1728px #FFF , 998px 854px #FFF , 259px 1958px #FFF , 1385px 268px #FFF , 6px 719px #FFF , 1797px 633px #FFF , 1766px 432px #FFF , 940px 515px #FFF , 1339px 1627px #FFF , 117px 1929px #FFF , 87px 1780px #FFF , 326px 279px #FFF , 1623px 340px #FFF , 1130px 1395px #FFF , 1690px 808px #FFF , 117px 100px #FFF , 689px 504px #FFF , 161px 170px #FFF , 1628px 528px #FFF , 8px 961px #FFF , 1205px 1860px #FFF , 273px 1338px #FFF , 1763px 201px #FFF , 721px 1239px #FFF , 1471px 1822px #FFF , 926px 1636px #FFF , 1656px 1815px #FFF , 1202px 67px #FFF , 1827px 1081px #FFF , 1604px 1964px #FFF , 1444px 892px #FFF , 1323px 1724px #FFF , 1314px 956px #FFF , 568px 1496px #FFF , 1603px 439px #FFF , 444px 834px #FFF , 1272px 1210px #FFF , 486px 944px #FFF , 582px 1278px #FFF , 118px 1720px #FFF , 1357px 1970px #FFF , 362px 79px #FFF , 1464px 825px #FFF , 644px 69px #FFF , 758px 526px #FFF , 307px 152px #FFF , 1219px 644px #FFF , 1134px 908px #FFF , 1742px 1468px #FFF , 415px 1662px #FFF , 1411px 1671px #FFF , 1011px 1175px #FFF , 73px 197px #FFF , 974px 830px #FFF , 409px 1504px #FFF , 403px 1995px #FFF , 657px 49px #FFF , 1193px 675px #FFF , 1345px 1738px #FFF , 474px 1382px #FFF , 214px 1063px #FFF , 924px 162px #FFF , 403px 438px #FFF , 1918px 1042px #FFF , 867px 843px #FFF , 1251px 1257px #FFF , 1521px 777px #FFF , 153px 724px #FFF , 449px 821px #FFF , 422px 1056px #FFF , 349px 1213px #FFF , 1246px 1902px #FFF , 354px 1711px #FFF , 1646px 830px #FFF , 837px 388px #FFF , 340px 1722px #FFF , 50px 1259px #FFF , 462px 1540px #FFF , 846px 1205px #FFF , 645px 1577px #FFF , 523px 542px #FFF , 1880px 1906px #FFF , 639px 663px #FFF , 370px 1190px #FFF , 1527px 1386px #FFF , 1497px 1216px #FFF , 888px 120px #FFF , 1244px 1320px #FFF , 543px 937px #FFF , 1861px 988px #FFF , 67px 872px #FFF , 1692px 726px #FFF , 800px 996px #FFF , 1616px 940px #FFF , 98px 1271px #FFF;
}

html {
  position: fixed;
  height: 100%;
  width: 100%;
  font-family: "lato", sans-serif;
  color: white;
  background: radial-gradient(ellipse at bottom, #0c1116 0%, #090a0f 100%);
}

#horizon {
  position: absolute;
  width: 160%;
  height: 70%;
  border-radius: 100%/100%;
  background: #038bff;
  -webkit-filter: blur(30px);
  left: 50%;
  bottom: -20%;
  margin-left: -80%;
}
#horizon:before {
  content: " ";
  position: absolute;
  width: 81.25%;
  height: 70%;
  border-radius: 100%/100%;
  background: #51afff;
  -webkit-filter: blur(30px);
  opacity: 0.6;
  margin-left: 9.375%;
}
#horizon:after {
  content: " ";
  position: absolute;
  width: 32%;
  height: 20%;
  border-radius: 650px/350px;
  background: #b0daff;
  -webkit-filter: blur(30px);
  opacity: 0.5;
  margin-left: 34%;
}
#horizon .glow {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%/100%;
  background: #215496;
  -webkit-filter: blur(200px);
  opacity: 0.7;
  top: -10%;
}

#earth {
  position: absolute;
  width: 200%;
  height: 100%;
  background: black;
  border-radius: 100%/100%;
  left: 50%;
  bottom: -50%;
  margin-left: -100%;
}
#earth:before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%/100%;
  box-shadow: inset 0px 0px 62px 20px rgba(60, 105, 138, 0.85);
}
#earth:after {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF000000', endColorstr='#FF000000');
  background-image: -moz-linear-gradient(left, #000000 0%, rgba(0, 0, 0, 0) 50%, #000000 100%);
  background-image: -webkit-linear-gradient(left, #000000 0%, rgba(0, 0, 0, 0) 50%, #000000 100%);
  background-image: linear-gradient(to right, #000000 0%, rgba(0, 0, 0, 0) 50%, #000000 100%);
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%/100%;
}

#title {
  position: absolute;
  font-weight: 300;
  top: 36%;
  left: 0;
  right: 0;
  margin-top: -80px;
  font-size: 100px;
  text-align: center;
  letter-spacing: 20px;
  padding-left: 20px;
  background: -webkit-linear-gradient(white, #dbdde0, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-name: animGravity;
}

#subtitle {
  position: absolute;
  font-weight: 300;
  top: 70%;
  left: 0;
  right: 0;
  font-size: 40px;
  text-align: center;
  letter-spacing: 10px;
}
#subtitle span {
  color: #d8d8d8;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}
#subtitle span:nth-child(1) {
  animation-name: animDont;
}
#subtitle span:nth-child(2) {
  animation-name: animLet;
}
#subtitle span:nth-child(3) {
  animation-name: animGo;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(-2000px);
  }
}
@keyframes animGravity {
  0% {
    transform: translateY(-26px);
    opacity: 0;
  }

  30%, 80% {
    letter-spacing: 40px;
    padding-left: 40px;
    transform: translateY(0px);
    opacity: 1;
  }

  92%, 100% {
    letter-spacing: 35px;
    padding-left: 35px;
    transform: translateY(-4px);
    opacity: 0;
  }
}
@keyframes animDont {
  0%  , 15% {
    transform: translateY(-26px);
    opacity: 0;
  }

  35%, 80% {
    transform: translateY(0px);
    opacity: 1;
  }

  92%, 100% {
    transform: translateY(-4px);
    opacity: 0;
  }
}
@keyframes animLet {
  0%  , 25% {
    transform: translateY(-26px);
    opacity: 0;
  }

  45%, 80% {
    transform: translateY(0px);
    opacity: 1;
  }

  92%, 100% {
    transform: translateY(-4px);
    opacity: 0;
  }
}
@keyframes animGo {
  0%  , 35% {
    transform: translateY(-26px);
    opacity: 0;
  }

  55%, 80% {
    transform: translateY(0px);
    opacity: 1;
  }

  92%, 100% {
    transform: translateY(-4px);
    opacity: 0;
  }
}

body, html {
  margin: 0;
  overflow: hidden;
  -webkit-transition: opacity 400ms;
  -moz-transition: opacity 400ms;
  transition: opacity 400ms;
}


body, .onepage-wrapper, html {
  display: block;
  position: static;
  padding: 0;
  width: 100%;
  height: 100%;
}


.onepage-wrapper {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  padding: 0;
  -webkit-transform-style: preserve-3d;
}


.onepage-wrapper .ops-section {
  width: 100%;
  height: 100%;
  position: relative;
}


.onepage-pagination {
  position: absolute;
  right: 10px;
  top: 50%;
  z-index: 5;
  list-style: none;
  margin: 0;
  padding: 0;
}
.onepage-pagination li {
  padding: 0;
  text-align: center;
}
.onepage-pagination li a{
  padding: 10px;
  width: 4px;
  height: 4px;
  display: block;
  
}
.onepage-pagination li a:before{
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  background: rgba(0,0,0,0.85);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}


.onepage-pagination li a.active:before{
  width: 10px;
  height: 10px;
  background: none;
  border: 1px solid black;
  margin-top: -4px;
  left: 8px;
}


.disabled-onepage-scroll, .disabled-onepage-scroll .wrapper {
  overflow: auto;
}


.disabled-onepage-scroll .onepage-wrapper .ops-section {
  position: relative !important;
  top: auto !important;
}
.disabled-onepage-scroll .onepage-wrapper {
  -webkit-transform: none !important;
  -moz-transform: none !important;
  transform: none !important;
  -ms-transform: none !important;
  min-height: 100%;
}




.disabled-onepage-scroll .onepage-pagination {
  display: none;
}


body.disabled-onepage-scroll, .disabled-onepage-scroll .onepage-wrapper, html {
  position: inherit;
}

.i02,.i03 {
  color: #000000;
      box-shadow:
        0 0 0 1px #fff,
        0 0 0 2px #aaa,
        0 0 0 3px #999,
        0 0 0 4px #666,
        0 0 0 5px #333,
        0 0 0 6px #000;
}

body.i02,.i03 { background: #ebe9e2; }
div.i02 {
   
    margin: 40px 30px 30px 100px;
    padding: 10px; float: left;
    font-family: Arial; text-align: center;
    background: #FEFFAF;
}
div.i03 {
    
    margin: 30px; padding: 5px; float: right;
    font-family: Arial; text-align: center;
    background: white;
}
.photo{
 width: 320px; height: 400px;
}
.title2{

}
.i02 h1{
  height: 200px;
  padding-bottom:3px;
  border-bottom:2px solid;
  border-bottom-color: #000;
  
}

.page_container{
   
  height: 50px;
  margin:5px 0px 220px 100px;
  

}
.page_container h1{
    text-align: center;
    color: blue;
  }

.input_radio,.input_email{
  
  margin-top:1em;  
  float:left;
}

.input_checkbox{
  
  margin-top:1em;  
  /*float:right;*/
  padding-left: 10cm;
}
.input_select::before{
  content:'';
  display:block;
  clear:both;
}

.input_select {
  margin-top: 1cm;
  width: 500;
}

h4{
  position: absolute;
  bottom: 0px;

  font-size: 15px;
  background-color: #1C19FF;
  width: 99900px;
  height: 20px;
}